/* =============================================================== */
/* WHITE
/* =============================================================== */

/* Background */
.main-container-wrapper,
.cart-actions button:hover 
	{background: #fff;}

/* Font Color */
/*
::selection { color: #fff;}
::-moz-selection { color: #fff;}
::-webkit-selection { color: #fff;}
*/
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.navbar-nav > li > a,
.searchInputBox .search-btn,
.action-control a:hover,
.action-control a.active 
	{ color: #fff; }

/* =============================================================== */
/* PRIMARY COLOR
/* =============================================================== */

/* Background */
.btn-primary,
.navbar-tshop,
.search-box:hover .form-control,
.pager2 a.selected,
.btn-site,
.newsLatterBox .btn,
.modal-header,
.socialIcon a:hover,
.cart-actions button,
.cart-actions .wishlist,
.orderStep li.active a,
.orderStep li a i
	{background-color: #2d3e50;}
	
/* Font color */
a:hover,
a:focus,
.search-box:hover .btn-nobg,
.cart-actions button:hover,
.owl-theme .owl-controls .owl-buttons div,
.item h4 a,
.orderStep li.active a i,
.footer a:hover
	{color: #2d3e50;}
.site-color,
citecolor
	{color: #2d3e50 !important;}

/* Border color */
.product:hover,
.subCategoryList .thumbnail:hover,
.pager2 a,
.form-control:focus,
.panel-default > .panel-heading,
.cart-actions button,
.cart-actions button:hover
	{border-color: #2d3e50;}
.sp-thumbs a:hover,
.sp-thumbs a:active,
.sp-current,
.sp-current:visited
	{border-color: #2d3e50 !important;}
.orderStep li.active a:after
	{border-top-color: #2d3e50 !important;}
.orderStep li.active a:after
	{border-color: rgba(136, 183, 213, 0);}
	
	
/* =============================================================== */
/* PRIMARY COLOR - LIGHTENED
/* =============================================================== */

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus
	{ background-color: #475f78 !important; border-color: #475f78;}
	
/* =============================================================== */
/* PRIMARY COLOR - DARKENED
/* =============================================================== */
   
.navbar-top
	{background: #273646;}
	
/* =============================================================== */
/* ACCENT COLOR
/* =============================================================== */

/* Background */
/*
::selection {background-color: #2ecc71;}
::-moz-selection {background-color: #2ecc71;}
::-webkit-selection {background-color: #2ecc71;}
*/
.search-full,
.search-input,
.nav > li.active,
.nav > li > a:hover,
.nav > li > a:focus,
.nav > li:hover > a,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.cartMenu:hover > a.dropdown-toggle,
.action-control a:hover,
.action-control a.active,
.btn-discover:hover,
.btn-site:hover,
.newsLatterBox .btn:hover,
.promo-1
	{background-color: #2ecc71;}
#pager2 span.cycle-pager-active
	{background-color: #2ecc71 !important;}
@media (max-width: 767px) {
	.miniCartFooter {background-color:#2ecc71 !important;}
}

/* Font color */
.search-close,
.nav.tree > li.active,
.nav.tree > li > a:hover,
.nav.tree > li > a:focus,
.nav.tree > li:hover > a,
.nav.tree .open-tree > a,
.nav.tree .open-tree > a:hover,
.nav.tree .open-tree > a:focus
	{color: #2ecc71;}

/* Border color */
.dropdown-menu {border-top: solid #2ecc71;}
.cart-actions .wishlist,
#pager2 span
	{border-color: #2ecc71;}
	
/* =============================================================== */
/* GRAYISH
/* =============================================================== */

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li:hover > a
	{background: #BFC9CA;}
.nav-tabs {border-bottom: 3px solid #BFC9CA;}

.mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background: rgba(149, 165, 166,0.7) !important;}
.new-product {background: rgba(149, 165, 166, 0.95) !important;}
#pager a.cycle-pager-active {background: rgba(149, 165, 166, 0.5);}